* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

/* Fonts */
/*  <uniquifier>: Use a unique and descriptive class name
     <weight>: Use a value from 200 to 800 */

.manrope-uniquifier {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* uniquifier: Use a unique and descriptive class name */
/* weight: Use a value from 300 to 800 */
/* width: Use a value from 75 to 100 */

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "width" 75;
    color: #ffffff;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
}

body {
    background: #e4e0e0;
    font-size: 1.6rem;
}

.main-content {
    max-width: 1230px;
    margin: 0 auto;
    padding: 13.0rem;
}

h1 {
    font-size: 4rem;
}

.section-width {
    min-height: 100vh;
}

.flex {
    display: flex;
}

.menu {
    width: 100%;
    background-color: #007C97;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.menu-content {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    max-width: 1230px;
    margin: 0 auto;
}

.main+section {}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    max-width: 680px;
}

.menu ul li a {
    display: block;
}

a {
    text-decoration: none;
    color: #ffffff;
}